<div class="bt-dashboard-header">
  {{ title }}
</div>
<div class="container">
<form>
  <div class="form-group row">
    <div class="col-sm-2">
      <label for="stationNameList" class="control-label">Station Source</label>
    </div>
    <div class="col-sm-4">
    <select class="form-control" name="stationNameList" id="stationNameList" ng-model="vm.trip.orig">
    <option ng-repeat="station in vm.stations track by $index" value="{{ station.abbr }}"> {{ station.name }}</option>
    </select>
      </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <label for="stationDestList" class="control-label">Station Destination</label>
    </div>
    <div class="col-sm-4">
    <select class="form-control" name="stationDestList" id="stationDestList" ng-model="vm.trip.dest">
      <option ng-repeat="station in vm.stations track by $index" value="{{ station.abbr }}"> {{ station.name }}</option>
    </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6">
      <label class="custom-control custom-radio">
        <input id="dep" name="depart" type="radio" value="depart" class="custom-control-input" ng-model="vm.trip.cmd" />
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Departures</span>
      </label>
    </div>
    <div class="form-group col-sm-6">
      <label class="custom-control custom-radio">
      <input id="arri" name="arri" type="radio" value="arrive" class="custom-control-input" ng-model="vm.trip.cmd" />
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Arrivals</span>
      </label>
    </div>
    </div>
  <div class="form-group row">
    <div class="col-sm-2">
    <label for="tripDate" class="control-label">Date</label>
      </div>
    <div class="col-sm-4">
      <input class="form-control" type="date" value="2011-08-19" id="tripDate" ng-model="vm.trip.date">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
    <label for="tripTime" class="control-label">Time</label>
      </div>
    <div class="col-sm-4">
      <input class="form-control" type="time" value="13:45:00" id="tripTime" ng-model="vm.trip.time">
    </div>
  </div>
  <button type="submit" ng-click= "vm.getSchedule(trip)" class="btn btn-primary">Get Schedule</button>
</form>
</div>
