<div class="bt-dashboard-header">
  {{ title }}
</div>
<div class="list-group">
  <div><a href="#" class="list-group-item active"><span class="col-lg-offset-5"><b>We have {{ vm.stations.length }} Stations</b></span></a></div>
  <br />


  <div class="panel panel-primary col-md-4" ng-repeat="station in vm.group track by $index ">
    <div class="panel-heading">Stations</div>
      <div class="panel-body">
        <ul>
          <li ng-repeat=" item in station track by $index">{{ item }}</li>
        </ul>
      </div>
  </div>

</div>

